<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-inverse" th:fragment="navbar">  
  <div class="container-fluid">  
    <div class="navbar-header">  
      <a class="navbar-brand">Chronosophia</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>  
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">  
    <ul class="nav navbar-nav"> 
      <li><a th:href="@{/figure/list}">Personnages</a></li>  
      <li><a th:href="@{/event/list}">Evènements</a></li>  
      <li><a th:href="@{/chronology/list}">Chronologies</a></li>
      <li><a th:href="@{/city/list}">Villes</a></li>  
      <li><a th:href="@{/category/list}">Catégories</a></li>  
      <li><a th:href="@{/role/list}">Positions</a></li>
      <li><a th:href="@{/userlist}">Utilisateurs</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
    </div>  
  </div>  
</nav>
</html>  