<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ajouter une chronologie</title>

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/resources/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <link rel="stylesheet" th:href="@{/resources/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/resources/css/jquery.flexdatalist.min.css}">

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{/resources/js/jquery.flexdatalist.js}"></script>
    <script th:src="@{/resources/js/fieldChooser.js}"></script>
</head>
<body>
    <div th:replace="~{navbar :: navbar}"></div>
    
    <div class="container">
        <div class="col-sm-offset-1 col-sm-9">
            <h1>Ajouter une chronologie</h1>
        </div>
        
        <!-- Filter Form -->
        <div class="hidden-xs">
            <form th:action="@{/chronology/filter}" th:object="${selectEventForm}" method="post">
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-4 col-xs-4">Catégories : </label>
                    <div class="col-sm-7 col-xs-8">
                        <input type="text" th:field="*{categories}" class="categories form-control" data-min-length='0' multiple='multiple'/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-4 col-xs-4">Villes : </label>
                    <div class="col-sm-7 col-xs-8">
                        <input type="text" th:field="*{cities}" class="cities form-control" data-min-length='0' multiple='multiple'/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-4 col-xs-4">Personnalités : </label>
                    <div class="col-sm-7 col-xs-8">
                        <input type="text" th:field="*{figures}" class="figures form-control" data-min-length='0' multiple='multiple'/>
                    </div>
                </div>
                
                <input type="hidden" th:field="*{eventsToExclude}" id="eventsToExclude" />
                <br>
                <div class="col-xs-offset-7 col-xs-5">          
                    <input type="submit" value="Filtrer" class="btn btn-default" />
                </div>
            </form>
        </div>

        <div class="col-xs-12" style="height:40px;"></div>
        
        <!-- Chronology Form -->
        <form th:action="@{/chronology/save}" th:object="${chronologyForm}" method="post" class="form-horizontal">
            <input type="hidden" th:field="*{eventList}" id="selectedEventList" />
            <input type="hidden" th:field="*{id}" />
            
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-4 col-xs-4">Nom de la chronologie : </label>
                <div class="col-sm-7 col-xs-8">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Nom" />
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-4 col-xs-4">Description de la chronologie : </label>
                <div class="col-sm-7 col-xs-8">
                    <textarea th:field="*{description}" class="form-control" placeholder="Description" rows="8"></textarea>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-4 col-xs-4">Url de l'image : </label>
                <div class="col-sm-7 col-xs-8">
                    <input type="text" th:field="*{url}" class="form-control" placeholder="Url" />
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-4 col-xs-4">Catégorie : </label>
                <div class="col-sm-7 col-xs-8">
                    <input type="text" th:field="*{category}" class="category form-control" placeholder="Catégories" data-min-length='0'/>
                </div>
            </div>
            
            <div class="form-group visible-xs">
                <label class="control-label col-md-3 col-sm-4 col-xs-4">Evènements : </label>
                <div class="col-sm-7 col-xs-8">
                    <input type="text" th:field="*{events}" class="events form-control" placeholder="Evènements" data-min-length='1' multiple='multiple'/>
                </div>
            </div>
            
            <div id="fieldChooser" class="form-control hidden-xs">
                <div id="sourceFields">
                    <div th:each="event : ${AvailableEventList}" th:id="${event.idEvent}" th:text="${event.name}"></div>
                </div>
                <div id="destinationFields">
                    <div th:each="event : ${SelectedEventList}" th:id="${event.idEvent}" th:text="${event.name}"></div>
                </div>
            </div>
            
            <input type="submit" value="Sauver" class="btn btn-default" /> 
            <input type="reset" value="Reinitialiser" class="btn btn-default" />
        </form>
    </div>

    <script th:inline="javascript">
        var $sourceFields = $("#sourceFields");
        var $destinationFields = $("#destinationFields");
        var $chooser = $("#fieldChooser").fieldChooser($sourceFields, $destinationFields);

        $(function() {
            $('#destinationFields').sortable({
                update : function(event, ui) {
                    var productOrder = $destinationFields.sortable('toArray').toString();
                    document.getElementById('selectedEventList').value = productOrder;
                    document.getElementById('eventsToExclude').value = productOrder;
                }
            });
        });

        var eventsSource = [(${eventsJSON})];
        $('.events').flexdatalist({
            minLength: 1,
            searchIn: ['name'],
            selectionRequired: true,
            valueProperty: 'idEvent',
            visibleProperties: ["name", "eventyear"],
            textProperty: '{name}, {eventyear}',
            data: eventsSource
        });

        var figuresSource = [(${figuresJSON})];
        $('.figures').flexdatalist({
            minLength: 0,
            searchIn: ['firstName','lastName'],
            selectionRequired: true,
            valueProperty: 'idFigure',
            visibleProperties: ["firstName","lastName","figureDates"],
            textProperty: '{firstName} {lastName}',
            data: figuresSource
        });

        var categoriesSource = [(${categoriesJSON})];
        $('.categories').flexdatalist({
            minLength: 0,
            searchIn: ['name'],
            selectionRequired: true,
            valueProperty: 'idCategory',
            visibleProperties: ["name"],
            textProperty: '{name}',
            data: categoriesSource
        });

        $('.category').flexdatalist({
            minLength: 0,
            searchIn: ['name'],
            selectionRequired: true,
            valueProperty: 'idCategory',
            visibleProperties: ["name"],
            textProperty: '{name}',
            data: categoriesSource
        });

        var citiesSource = [(${citiesJSON})];
        $('.cities').flexdatalist({
            minLength: 0,
            searchIn: ['name'],
            selectionRequired: true,
            valueProperty: 'idCity',
            visibleProperties: ["sCity"],
            textProperty: '{name}',
            data: citiesSource
        });
    </script>
</body>
</html> 